<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YF fast platform Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/static/css/mobi/mobi.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="flex-center">
      <div id="app">
        <app></app>
      </div>
    </div>
  </body>

</html>
